@using MvcEcomerce.Application.DTOs.ResponseDTO

@model IEnumerable<CategoryResponseDTO>

<div class="mb-3">
    <h4>Categories</h4>
    <ul class="list-unstyled fruite-categorie">
        @foreach(var item in Model)
        {
            <li>
                <div class="d-flex justify-content-between fruite-name">
                    <a asp-controller="Shop" asp-action="Index" asp-route-category="@item.Id">
                        @item.Title
                    </a>
                    <span>@item.Quantity</span>
                </div>
            </li>
        }
    </ul>
</div>