﻿@{
    ViewData["Title"] = "Success";
}

<!-- Payment Success Start -->
<div class="container-fluid mt-5 py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>Placed Order Successfully!</h1>
                <a class="btn border-secondary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- Payment Success End -->