﻿@{
	ViewData["Title"] = "Profile";
}

<div class="container-fluid mt-5 py-5">
    <div class="container py-5">
        <h1 class="mb-4">Profile</h1>
        <h2>Welcome @Context.User.Identity.Name</h2>
        <a asp-action="Logout">Logout</a>
    </div>
</div>
